# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files
frontend/.env*
backend/.env
backend/.venv/

backend/__pycache__/
backend/database.db
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
